body {
    background-image: url("../images/beige-tiles.png");
    color: black;
    margin: 5px;
}

#searchbutton {
    margin-bottom: 15px;
}

.animal {
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 5px;
}

